@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(#ffffff, #e0e0e0);
}
.table {
  border-collapse: collapse;
  text-indent: 30px;
  border-spacing: 12px;
}

td {
  padding: 3px;
}
input {
  outline: none;
}