@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'wildword';
  src: url('../../public/WILD-WORLD.woff') format('woff2'),
       url('../../public/WILD-WORLD.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(#ffffff, #e0e0e0);
}
.table {
  border-collapse: collapse;
  text-indent: 3px;
  border-spacing: 12px;
}

/* td {
  padding: 3px;
} */
input {
  outline: none;
  width: 100%;
}